/*All pages (Just simple stuff for now)*/
h1 { text-align: center; font-weight: bold; color: white; }

h2 { text-align: center; font-weight: bold; color: white; }

body { color: white; background-color: green; }

/*Top of all pages (not used yet)*/
.head { text-align: center; background-color: gray; border: 2px solid; border-color: red; }

/*Login page*/
.logInInfo { text-align: center; }

/*Main Menu page*/
.mainMenuInfo {text-align: center;}
